body{
    background: gray;
    margin: 0;
    padding: 0;
    font-family: arial black;
}
.MEHEDI{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
UL{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
UL li{
    font-size: 15em;
    letter-spacing: 1opx;
    text-shadow: 1px 5px 10px #0d0055;
}
UL li:nth-child(1){
    color: #fff;
}

UL li:nth-child(2){
    color: yellow;
}

UL li:nth-child(3){
    color: orange;
}

UL li:nth-child(4){
    color:blue;
}

UL li:nth-child(5){
    color: green;
}

UL li:nth-child(6){
    color: cyan;
}
.logo_section{
    padding-top: 100px;
    padding-left: 600px;
}
.logo{
    
}
.logo img{
    width: 200px;
    height: auto;
    border-radius: 50px;

}
.main{
    max-width: 2000px;
    margin: 0;
}